<!DOCTYPE html>
<html>
	<head>
	 	<title>FuNights</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
		<script src="//www.parsecdn.com/js/parse-1.5.0.js"></script>
		<script src="http://underscorejs.org/underscore.js"></script>
		<script src="jq/ui/jquery-ui.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="includes/style.css">
		<link rel="stylesheet" href="includes/navBar.css">
		<link rel="stylesheet" href="jq/ui/jquery-ui.css">
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	</head>
	<body>	 
		<script type="text/html" id='myPtofile'>
			<div class="placeprivate">
               	<h1 class="myName"><%= item.get("displayName") %> </h1>
				<img src='http://graph.facebook.com/<%= item.get("facebookId")%>/picture?type=normal'/>   
			</div>
        </script>
		<script type="text/html" id='placeTypeList'>
			<select class="fil" id="placeSelect" required>
				<div class="filter"></div>
				
					<option value="">סנן לפי סוג</option>
					<% _.each(items,function(item,key,list){ 
			            // create more variables
			        %>
			        </div>
			      <option value="<%= item.id %>"><%= item.get("name") %></option>
				
		        <% }); %>
			</select>

          </script>
		
		<script type="text/html" id='musicGenereList'>
			<select class="fil" id="filterMusicList" required>
				
				<option value="">סנן לפי מוסיקה</option>
				<% _.each(items,function(item,key,list){ 
		            // create more variables
		        %>
		        <option value="<%= item.id %>"><%= item.get("genere") %></option>
		        <% }); %>
			</select>

          </script>
		<div id="wrapper">
			<header> 
				<a id="logo" href="main.html"> </a>
				<div id="helloUser"></div>
 			</header>		
		 		<nav id="cssmenu">
					<button class="logout" onclick="logout();"></button>
					<ul>
					   <li><a href='main.html'><span>קרובים קרובים</span></a></li>
					   <li class='active'><a href='add.html'><span>הוסף מקום</span></a></li>
					   <li><a href='scoreBoard.html'><span>לוח ניקוד</span></a></li>
					   <li><a href='myPage.html'><span>העמוד שלי</span></a></li>
					   <li class='last'><span></span><a href='aboutus.html'><span>קצת עלינו</span></a></li>
					</ul>
			 		<span></span>
		 		</nav>
			<main>
				<h1 class="pageName">הוסף מקום</h1>
				<section class="placeForm">
					<form id="add-place" method="post">
						<div class= "rightSideForm">
							<div><label class="categoryP">שם המקום:	</label><input id="placeName" type="text"   name="placeName"	value="" required></div>
							<div><label class="categoryP">סגנון בילוי:	</label><div   id="placeType" class="formFilter"></div></div><br>
							<div><label class="categoryP">סגנון מוזיקה:</label><div id="musicGenere" class="formFilter"></div></div><br>
							<div><label class="categoryP">כתובת:	</label><input id="autocomplete" class="formFilter" placeholder="בחר כתובת " onFocus="geolocate()" type="text" required></div><br>
						</div>
						<div class= "leftSideForm">
							<div><label class="categoryP">תיאור:	</label><textarea id="placeDescription" name="description" rows="5" cols="20" required></textarea></div>
							<div><label class="categoryP">תמונה:</label><input id="upload" type="file" name="image" required accept="image/*"><div id="fileDisplayArea"></div></div>
							<div><label class="categoryP">&nbsp;</label><input type="submit" name="btn" class="addBtn" value="+הוסף"></div>
						</div>
					</form>
				</section>
		
  			</main>
		</div>
		
	<div id="dialog" title="Dialog Title">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>

	<script src="includes/parse_main.js"></script>
	<script src="includes/main.js"></script>
	<script src="includes/add.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
	</body>
</html>