<!DOCTYPE html>
<html>
	<head>
	 	<title>FuNights</title>
		<meta charset="UTF-8">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="//www.parsecdn.com/js/parse-1.5.0.js"></script>
		<script src="http://underscorejs.org/underscore.js"></script>
		<!-- <script src="FuNights/includes/dragAndDrop.js"></script> -->
		<script src="includes/main.js"></script>
		<link rel="stylesheet" href="includes/style.css">
		<link rel="stylesheet" href="includes/navBar.css">
		<link rel="stylesheet" href="includes/funights.css">
	</head>
	<body>	 
		
		<script type="text/html" id='filterList'>
			<select onchange="onChangeFilter()">
				
				<option value="0">סנן לפי סוג</option>
				<% _.each(items,function(item,key,list){ 
		            // create more variables
		        %>
		        <option value="<%= item.id %>"><%= item.get("name") %></option>
				
		        <% }); %>
			</select>

          </script>
		
		<script type="text/html" id='filterMusicList'>
			<select onchange="onChangeFilter()">
				
				<option value="0">סנן לפי מוסיקה</option>
				<% _.each(items,function(item,key,list){ 
		            // create more variables
		        %>
		        <option value="<%= item.id %>"><%= item.get("genere") %></option>
				
		        <% }); %>
			</select>

          </script>

        <!-- This is the place list that you need to work on
             Every change on places should be here
        -->

		<script type="text/html" id='placesList'>
			<% _.each(items,function(item,key,list){ 
	            // create more variables
	        %>
			<div class="place">
                <!-- Here you have the class of a place. item is a class that represant the row in the database from parse.com
                    That means that each column from the table Place will be here in `item.get("name")` or item.get("description")

                 -->
				<h3><%= item.get("name") %></h3>
                <img class="placeImage" src="<%= item.imageUrl %>"/>
			</div>
			
	        <% }); %>
			
          </script>

		<div id="wrapper"> 
			<header> 
				<a id="logo" href="#"> </a>
 			</header>		
		 		<nav id="cssmenu">
					<ul>
					   <li class='active'><a href='#'><span>קרובים קרובים</span></a></li>
					   <li><a href='add.php'><span>הוסף מקום</span></a></li>
					   <li><a href='#'><span>Specials</span></a></li>
					    <li><a href='#'><span>העמוד שלי</span></a></li>
					   <li class='last'><span></span><a href='#'><span>קצת עלינו</span></a></li>
					</ul>
			 		<span></span>
		 		</nav>
			 <main>
			 	<div class="filter">
				 	<div id="filterTarget"></div>
				 	<div id="filterMusicTarget"></div>	
					<div id="target"></div>
					<a href="#" class="myButton">שנה מיקום</a>
				</div>
				
				<h1 class="pageName">קרובים קרובים</h1>
				<div class= "covers">

     		   </div>

			 </main>
			 
			 <div class="clear"></div>
			   <footer>
				 	<nav>
				 		<a class="aFooter" href="abouts.html">אודות</a>
				 		<a class="aFooter" href="stylelist.html">StyleLists</a>
				 		<a class="aFooter" href="#">חדשות השבוע</a>
				 		<a class="aFooter" href="#">HOTTEST of the week </a>
				 	</nav>
			 </footer>
		 </div>
		 
 		<script src="includes/parse_main.js"></script>

	</body>
</html>