<!DOCTYPE html>
<html>
	<head>
	 	<title>FuNights</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
		<script src="jq/ui/jquery-ui.js"></script>
		<script src="//www.parsecdn.com/js/parse-1.5.0.js"></script>
		<script src="http://underscorejs.org/underscore.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="jq/ui/jquery-ui.css">
		<link rel="stylesheet" href="includes/style.css">
		<link rel="stylesheet" href="includes/navBar.css">
		<link rel="stylesheet" href="includes/funights.css">
		<link rel="stylesheet" href="includes/tagsStyle.css">
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	</head>
	<body>	 

<script type="text/html" id='myProfile'>
			<div class="placeprivate">
               	<h1 class="myName"><%= item.get("displayName") %> </h1>
				<img src='http://graph.facebook.com/<%= item.get("facebookId")%>/picture?type=normal'/>   
			</div>
        </script>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=405245006352397";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>

		<script type='text/html' id='placePageId'> </script>

		<div id="wrapper">
			<header> 
				<a id="logo" href="main.html"> </a>
				<div id="helloUser"></div>
 			</header>		
		 		<nav id="cssmenu">
					<button class="logout" onclick="logout();"></button>
					<ul>
					   <li><a href='main.html'><span>קרובים קרובים</span></a></li>
					   <li><a href='add.html'><span>הוסף מקום</span></a></li>
					   <li><a href='scoreBoard.html'><span>לוח ניקוד</span></a></li>
					   <li><a href='myPage.html'><span>העמוד שלי</span></a></li>
					   <li class="last"><span></span><a href='aboutus.html'><span>קצת עלינו</span></a></li>
					</ul>
			 		<span></span>
		 		</nav>
			 <main>
				<div id="placeTarget">
					<h1  id = "placePageName"></h1>
					<h3  id = "placePageType"></h3>
					<div id = "placePagePic" class="crop"></div>
				
					<p   id = "description"></p>
					<p class = "addresses">כתובת:</p>
					<p   id = "address"></p>
					<p   id = "distance"></p>
					<form method="post" id="add-image">
						<div><input id="upload" class="fileUpload" type="file" name="image" required> 
							<div id="fileDisplayArea2"></div></div>
						<div><input type="submit" name="btn" class="myLabel" value="+הוסף" style="display:none"></div>
					</form>
					
					<select class="filterTags" id="chooseTag" onchange="addTag(this)"></select>
					<div id="tags"></div>
				</div>
				
				
				<div class= 'leftSideContainer'>
					<div class="fb-like" data-width="200px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
					<div><input id="checkinid" onclick="checkIn()" type="submit" name="btn" class="checkInBTN" value=" אני כאן "></div>
					
					
					<fieldset id="rating">
					    <legend>דרג:</legend>
					    <input type="radio" id="star5" name="rating" value="5" onclick="rate()"/><label for="star5" title="Rocks!">5 stars</label>
					    <input type="radio" id="star4" name="rating" value="4" onclick="rate()"/><label for="star4" title="Pretty good">4 stars</label>
					    <input type="radio" id="star3" name="rating" value="3" onclick="rate()"/><label for="star3" title="Meh">3 stars</label>
					    <input type="radio" id="star2" name="rating" value="2" onclick="rate()"/><label for="star2" title="Kinda bad">2 stars</label>
					    <input type="radio" id="star1" name="rating" value="1" onclick="rate()"/><label for="star1" title="Sucks big time">1 star</label>
					</fieldset>
					<div id="currentRating">דירוג נוכחי:</div>
					<div id="allrating"></div>
				</div>
			
				<div class="faceStyle">
					<div class="fb-comments" data-colorscheme="dark" data-width="100%" data-numposts="10" data-mobile="1"></div>
				</div>	

			 </main>
		 	<script src="includes/main.js"></script>
		 	<script src="includes/place.js"></script>
		 	<script src="includes/parse_main.js"></script>
		</div>
	</body>
</html>