<!DOCTYPE html>
<html>
	<head>
	 	<title>FuNights</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
		<script src="//www.parsecdn.com/js/parse-1.5.0.js"></script>
		<script src="http://underscorejs.org/underscore.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="includes/style.css">
		<link rel="stylesheet" href="includes/navBar.css">
		<link rel="stylesheet" href="includes/funights.css">
		<link rel="stylesheet" href="includes/tagsStyle.css">
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	</head>
	<body>	 
		<script type="text/html" id='myProfile'>
			<div class="placeprivate">
               	<h1 class="myName"><%= item.get("displayName") %> </h1>
				<img src='http://graph.facebook.com/<%= item.get("facebookId")%>/picture?type=normal'/>   
			</div>
        </script>
		<div id="wrapper"> 
			<header> 
				<a id="logo" href="main.html"> </a>
				<div id="helloUser"></div>
 			</header>		
		 		<nav id="cssmenu">
		 			<button class="logout" onclick="logout();"></button>
					<ul>
					   <li><a href='main.html'><span>קרובים קרובים</span></a></li>
					   <li><a href='add.html'><span>הוסף מקום</span></a></li>
					   <li class= "active"><a href='#'><span>לוח ניקוד</span></a></li>
					   <li><a href='myPage.html'><span>העמוד שלי</span></a></li>
					   <li class="last"><span></span><a href='aboutus.html'><span>קצת עלינו</span></a></li>
					</ul>
			 		<span></span>
		 		</nav>
			 <main>
			 	<h1 class ="Top5">החמישייה הפותחת</h1>
                <div id   ="scores"></div>
                <h2 class ="orange">איך אני מרוויח נקודות? </h2>
                <div class= "linksToAddPoints">
                	<div class= "line"><h4>לחץ למעבר לעמוד</h4><div class= "links" id="QuyA0rDRTB"><a href='add.html'>הוספת מקום=20</a></div></div>
                	<br>
                	<h4>לביצוע מעמוד מקום</h4>
                	<div class= "line"><div class= "links" id="ZBRSWnsR0M">הוספת תמונה למקום=15	</div></div>
                	<div class= "line"><div class= "links" id="HdXKkubkuY">like=10			</div>
		        					   <div class= "links" id="KW4r8lcFjW">comment=10		</div></div>
		        	<div class= "line"><div class= "links" id="rxCTZuwnfH">דירוג  =5    		</div>
			        				   <div class= "links" id="EIZhxy7kbM">סימון 'אני כאן'=5		</div>
			        				   <div class= "links" id="VV8VJ41YEZ">הוספת והסרת תגית=5  </div></div>
           		 </div>
       			 <h2 class    ="orange">הסטטוסים שלנו: </h2>
       			 <div class   ="stats">
           			 <p class = "status1">בליין?!  </p>
           			 <p class = "status2">בליין מתחיל</p>
           			 <p class = "status3">בליין ממוצע</p>
           			 <p class = "status4">בליין מטורף</p>
       			</div>
           		 
			 </main>
		 
        </div>
        <script src="includes/main.js"></script>
        <script src="includes/score.js"></script>
        <script src="includes/parse_main.js"></script>
    </body>
</html>