.place{
	color: white;
}

.placeprivate{
	
}
.placeTitle{
	color:white;
}
.myName{
	color:white;
}
h3{
	color:white;
}
body{
	color:white;
}
._5mdd{
	color:white;
}
.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}
.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}
.fb-comments, .fb-comments iframe[style] {width: 100% !important;}

.aboutus{
	margin-top: 20px;
	font-size: 18px;
    float: left;
    padding-right: 52px;
    padding-left: 50px;	
    line-height: 140%;  
}
.kissImage{
    margin-top: 29px;
    float: left;
    margin-left: 164px;
}
.connectIndex{
	margin: auto;
    width: 22%;
    margin-top: 335px;
}
.connectIndexImage{
	float:right;
	margin-bottom: 20px;
}
h2{
	direction: rtl;
    font-size: 25px;
    float: right;
    margin-top: 19px;
    margin-right: 13px;
}
#fbfriends{
	margin-left: 30px;
}
#helloUser{
	float: left;
    margin-left: -70px;
    margin-top: 10px;
}
