@font-face {
    font-family: 'trashim_clmbold';
    src: url('trashimclm-bold-webfont.eot');
    src: url('trashimclm-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('trashimclm-bold-webfont.woff') format('woff'),
         url('trashimclm-bold-webfont.ttf') format('truetype'),
         url('trashimclm-bold-webfont.svg#trashim_clmbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DJB Jenna';
    url('Jenna/DJB Jenna.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
 padding:0px;
 margin:0px;
}

header,section,aside,footer,a,nav{
 display:block;
}

body{
	font-family: 'trashim_clmbold', Arial;
	width:100%;
	background-image: url(../images/background.jpg);
}

a{
	text-decoration: none;
}



#wrapper{
 direction: rtl;
 margin: 0px auto;
 width:1000px;
 background-image: url(../images/bg2.jpg);
}

#logo{
	float:right;
	background-image: url(../images/logo4.png);
	height: 80px;
	width: 213px;
	margin-right: 10px;
	margin-top:10px;
}


.exit-btn { 
	float:left;
	position:static;
	margin: 80px 0 0 30px;
	height:30px;
	width:100px;
    border: none;
    font-family: arial;
    font-size: 10px;
    color: #FFFFFF;
    padding-left:10px;
    background: none;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; 
    margin-top: 116px;
    background-color: #282F8A;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #202670;
}


header{
 width:1000px;
 height:100px;
}

main{
 width:1000px;
 height:2000px;
}


/*homepage- main */
.filter{
	height:30px;
	width:60px;
	position: absolute;
	float:right;
	padding-right:20px;
	margin-top:10px;	
}

h1{
	direction: rtl;
	font-size: 35px;
}

h3{
	direction: rtl;
	font-size: 20px;
	font-family: 'trashim_clmbold','arial';
	margin-bottom: 10px;
}

#target{
	width:670px;
	float:right;
	margin-top:38px;
}

.filterBox{
	float:left;
	display:block;
	margin-top: -40px;
	margin-left:30px;
	margin-bottom:30px;
	border-color: #FAFBF6;
	height: 50px;
	width: 931px;
}

.filterForm{
	float:right;
	position:absolute;
	color:#ffec64;
	font-family: 'trashim_clmbold','DJB Jenna','Arial';
	display:inline;
	margin-top:25px;
}

.filterForm input{
	display:inline;
	float:right;
	margin-right:4px;
	margin-left:20px;
}

.category{
	display:inline;
	float:right;
	margin-right:20px;
	color: white;
}

.btn-edit{
	-moz-box-shadow: 0px 2px 0px 0px #ffffff;
	-webkit-box-shadow: 0px 2px 0px 0px #ffffff;
	box-shadow: 0px 2px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:'DJB Jenna',Arial;
	font-size:18px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	height:5px;
	width:30px;
	margin-top:-10px;
}

.btn-edit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}

.btn-edit:active {
	position:relative;
	top:1px;
}

.myButton {
	float:right;
	margin-top:10px;
	margin-right:13px;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:'trashim_clmbold','arial';
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}

.myButton:active {
	position:relative;
	top:1px;
	
}


.pageName{
	margin-right: 50px;
	margin-top:70px;
	color: #FAFBF6;
	font-family: 'trashim_clmbold','arial';
}

.crop{
 	height:135px;
 	width: 119px;
}
 
#target > div {
	float:right;
	margin: 24px;
	height: 260px;
	width:310px;
	margin-left: 0;
}


#target > div:nth-child(3),
#target > div:nth-child(4),
#target > div:nth-child(5) {
	width: 198px;
	height:174px;
} 

#placesList{
	float:left;
	position: absolute;
	top:200px;
}

.place {
    width: 150px;
    height: 170px;
    overflow: hidden;
}

.crop img{
	width:100%;
}
.crop img:hover {
	transform: scale( 1.1 );
}

.bottomleftHeadline {
    position: absolute;
    bottom: 150px;
    width: 100%;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
    /* default fallback */
	background: rgb(255, 255, 255) transparent;
	/* nice browsers */
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
 }

#indexAside {
    float: left;
    display: block;
    margin-left: 30px;
    margin-top: 82px;
    border-style: solid;
    border-color: #FAFBF6;
    font-family: 'trashim_clmbold',Arial;
    border-width: 1px;
    height: 460px;
    width: 250px;
}

#indexAside h3{
	direction: rtl;
	font-size: 20px;
	width:100px;
	height:30px;
	font-family: 'trashim_clmbold','arial';
	color: #FAFBF6;
	margin-top: -25px;
}

#placeName{
	color:#FFFFFF;
	height: 40px;
	width:200px;
}

/*add Place*/
.placeForm{
	width:1000px;
	float:right;
	line-height: 40px;
	position:absolute;
	color:#ffec64;
	font-family: 'trashim_clmbold','DJB Jenna','Arial';
	display:block;
	margin-top:25px;
	margin-right: 30px;
}

#fileDisplayArea img {
    border-radius: 5px;
    border: 5px solid white;
    margin-top: 10px;
    width: 166px;
    position: absolute;
    left: 0;
    bottom: 72px;
}
.placeForm select{
	background: #FFFFFF;
	color: #000000;

}

.placeForm input{
	padding: 5px;
	background: #FFFFFF; 
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	margin-right:100px;
	color:#000000;
}

#tags{
	margin-top: 100px;
}

.tagsClass{
    float: right;
    height: 12px;
    width: 120px;
    margin: 15px;
    text-align: center;
}

.tagsClass a{
	display:inline;
}

.placeForm input,
.placeForm select,
.placeForm textarea,
input.addBtn{
	width: 175px;
    box-sizing: border-box;
    margin-right:0;
}

.placeForm textarea{
	height:100px;
	padding: 5px;
	margin-top:5px;
	background: #FFFFFF; 
	border-radius: 5px; 
}

.placeForm > form > div > div {
	margin-top:30px;
}

.leftSideForm > div:first-child {
height: 108px;
}

.rightSideForm{
	float:right;
	width:400px;
}

.leftSideForm{
	float:right;
	width:500px;
	position: relative;
}

.formFilter{
	display: block;
	float:right;
	margin-top:-5px;
}

.categoryP{
	float: right;
	width: 100px;
}

#autocomplete{
	margin-top:7px;
}

.uploadPhoto{
	float:left;
	height:200px;
	width: 200px;
}


input.addBtn {
	float:right;
	margin-top: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:'trashim_clmbold','arial';
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.addBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}

.addBtn:active {
	position:relative;
	top:1px;
	
}


/* Place Page */

#placeLeft{
	float:left;
}

#placeTarget{
	color: #FFFFFF;
	float:right;
	width:700px;
}

#placePageName{
	display:inline-block;
	margin-right: 400px;
    margin-top:50px; 
}

#placePageType{
	display: inline-block;
}

#placePagePic{
	margin-right:30px;
	margin-top:30px;
	height: 294px;
	width: 260px;
	overflow: hidden;
	
}

#pic{
	height: 240px;
	margin(10px, 0 0 30px);
}


#description{
    position: absolute;
    margin-right: 338px;
    top: 347px;
	width: 200px;
	float:right;
}

#tags span{
	padding-right: 13px;
}

#commentArea{
	color: #FFFFFF;
	float:right;
	width:100%;
	display:block;
	margin-top:200px;
}

#commentInput{
	top:300px;
}


.checkInBTN {
	float: left;
    margin: 45px 0 0 68px;
	font-family: 'trashim_clmbold', Arial;
	font-weight:800;
	background-color: #DB9A02;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	border-radius:6px;
	border:1px solid #DB9A02;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}


.checkInBTN:hover {
	background:linear-gradient(to bottom, #C48A01 5%, #C48A01 100%);
	background-color:#C48A01;

}

.checkInBTN:active {
	position:relative;
	top:1px;
}
.checkInBTN.pressed{
	background-color: #7FC44A;
    border: none;
}

/* Stars Rank */
#rating {
    float:left;
    border:none;
    margin: 120px 0 0 -74px;
}

#rating legend{
	color:#DB9A02;
    font-size: 20px;
    font-family: 'trashim_clmbold', Arial;
}

#rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

#rating:not(:checked) > label {
    float:right;
    width:1em;
    padding-top:4px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

#rating:not(:checked) > label:before {
    content: '★ ';
}

#rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

#rating:not(:checked) > label:hover,
#rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

#rating > input:checked + label:hover,
#rating > input:checked + label:hover ~ label,
#rating > input:checked ~ label:hover,
#rating > input:checked ~ label:hover ~ label,
#rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

#rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

#currentRating {
    float: left;
    margin: -28px 0 0 139px;
    font-weight: bold;
    color: #DB9A02;
    font-size: 19px;
    font-family: 'trashim_clmbold', Arial;
}

#allrating {
    float: left;
    display: inline;
    margin: 15px 0 0 83px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 19px;
    font-family: 'DJB Jenna', Arial;
}

.fb-like{
	float:left;
	margin: 70px 0 0 68px;
}

.faceStyle{
	float:right;
	width: 600px;
	margin-right:200px;
    margin-top: 50px;
}



.clear{
 	clear:both;
}

/*
h2                  { position: absolute; top: 200px; left: 0; width: 100%; }
h2 span             { color: white; font: bold 24px/45px Helvetica, Sans-Serif; letter-spacing: -1px;  
                      background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.7); padding: 10px; }
h2 span.spacer      { padding: 0 2px; background: none; }
*/
.fil{
    float: right;
    size: 30px;
    padding: 5px;
    margin: 10px;
    font-family: 'trashim_clmbold', Arial;
}

#chooseTag{
    float: right;
    display: block;
    padding: 5px;
    margin-top: 60px;
    font-weight: bold;
    font-family: 'trashim_clmbold', Arial;
    font-size: 20px;
    margin-right: -259px;
}


/*MyPage*/

 #myPage{
 	margin-top:200px;
 }
   

#myPageTarget > div > h1 {
    color: #FFFFFF;
    margin-top: 30px;
    margin-right: 30px;
}

#myPageTarget > div > img {
	float:right;
    margin-top: 30px;
    margin-right: 30px;
    height: 130px;
  }

.myName{
	text-align: center;
}

.myScoreH {
	float: right;
	display: block;
	margin-top: 30px;
	margin-right:30px;
}
  
 #myscore {
 	float:right;
 	margin-right:20px;
    margin-top: 25px;

 }
 
 #myPage h2 {
  	color: #DB9A02;
    margin-top: 30px;
    margin-right: 30px;
 }
 
 #checkins{
 	float:right;
 	display:block;
 	margin-right:30px;
 }
 
 #myPlaces{
 	float: right;
 	display: block;
 }
 
  #namePlace{
  	float:right;
  	margin:30px;
  	display:inline;
  }
  
  #placeTag{
  	display: inline;
  	float: right;
  }
  
  #distancePlace{
  	margin:30px;
  	display:inline;
  }
