@font-face {
    font-family: 'trashim_clmbold';
    src: url('trashimclm-bold-webfont.eot');
    src: url('trashimclm-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('trashimclm-bold-webfont.woff') format('woff'),
         url('trashimclm-bold-webfont.ttf') format('truetype'),
         url('trashimclm-bold-webfont.svg#trashim_clmbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DJB Jenna';
    url('Jenna/DJB Jenna.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
 padding:0px;
 margin:0px;
}

header,section,aside,footer,a,nav{
 display:block;
}

body{
	font-family: 'trashim_clmbold','Architects Daughter', cursive, Arial;
	width:100%;
	background-image: url(../images/background.jpg);
}

a{
	text-decoration: none;
}

#wrapper{
 direction: rtl;
 margin: 0px auto;
 width:1000px;
}

h2{
	direction: rtl;
    font-size: 25px;
    float: right;
    margin-top: 19px;
    margin-right: 13px;
    color: #FFFFFF;
}

#logo{
	float:right;
	background-image: url(../images/logo4.png);
	height: 80px;
	width: 213px;
	margin-right: 10px;
	margin-top:10px;
}

.logout {
	float: left;
	border-radius: 4px;
	border: none;
	margin: 2px 5px;
	height: 21px;
	width: 72px;
	background-image: url(../images/logout.jpg);
	clear: both;
}

.logout2 {
	float: left;
	border-radius: 4px;
	border: none;
	margin: 2px 5px;
	height: 21px;
	width: 72px;
	background-image: url(../images/logout.jpg);
	clear: both;
}

header{
 width:1000px;
 height:100px;
  background-image: url(../images/bg2.jpg);
}

main{
	width:1000px;
	padding-bottom: 100px;
    background-image: url(../images/bg2.jpg);
    float: right;
}


/*homepage- main */

#helloUser {
    float: left;
    font-family: 'Architects Daughter', cursive,'arial';
    color: #FFFFFF;
    margin-top:80px;
	width: 200px;
	height: 22px;
}

#helloUser > a{
	font-family: 'trashim_clmbold','Architects Daughter', cursive, Arial;
}

#helloUser img{
    border-radius: 50%;
    height: 50px;
    float: left;
    margin-top: -33px;
}


h1{
	direction: rtl;
	font-size: 35px;
}

h3{
	direction: rtl;
	font-size: 20px;
	font-family: 'trashim_clmbold','Architects Daughter', cursive,'arial';
	margin-bottom: 10px;
	color:#FFFFFF;
}

#target{
	width:670px;
	float:right;
	margin-top:38px;
}

.filterBox{
	float:left;
	display:block;
	margin-top: 30px;
	margin-left:30px;
	margin-bottom:30px;
	border-color: #FAFBF6;
	height: 50px;
	width: 931px;
}

#filterType, #filterMusicTarget {
	border-radius: 5px;
}

.changeAddress{
    display: block;
    float: right;
    margin-top: 10px;
    border-radius: 5px;
    height: 22px;
    margin-right:20px;
}

.filterForm{
	float:right;
	position:absolute;
	color:#ffec64;
	font-family: 'trashim_clmbold', 'Architects Daughter', cursive,'Arial';
	display:inline;
	margin-top:25px;
}

.filterForm input{
	display:inline;
	float:right;
	margin-right:4px;
	margin-left:20px;
	font-family
}

.category{
	display:inline;
	float:right;
	margin-right:20px;
	color: white;
}

.btn-edit{
	-moz-box-shadow: 0px 2px 0px 0px #ffffff;
	-webkit-box-shadow: 0px 2px 0px 0px #ffffff;
	box-shadow: 0px 2px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family: 'Architects Daughter', cursive, Arial;
	font-size:18px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	height:5px;
	width:30px;
	margin-top:-10px;
}

.btn-edit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}

.btn-edit:active {
	position:relative;
	top:1px;
}

.myButton {
	float:right;
	margin-top:10px;
	margin-right:13px;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:'trashim_clmbold','arial';
	font-size:15px;
	font-weight:bold;
	padding:5px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}

.myButton:active {
	position:relative;
	top:1px;
	
}

.pageName{
	margin-right: 50px;
	margin-top:70px;
	color: #FAFBF6;
	font-family: 'trashim_clmbold','Architects Daughter', cursive,'arial';
}

.crop{
 	height:135px;
 }
 
 #wantedPic{
 	width: 100%;
 }
 
#target > div {
	float:right;
	margin: 24px;
	height: 260px;
	width:310px;
	margin-left: 0;
}

#target > div:nth-child(3),
#target > div:nth-child(4),
#target > div:nth-child(5) {
	width: 198px;
	height:174px;
} 

#placesList{
	float:left;
	position: absolute;
	top:200px;
}

.place {
    width: 150px;
    height: 170px;
    overflow: hidden;
}

.place img.landscapeImage {
height: Calc(100%);
width: 100%;
}

.place a {
display: block;
height: Calc(100%);
text-align: center;
}

.crop img{
	width:100%;
}

.crop img:hover {
	transform: scale( 1.1 );
}

#indexAside {
    float: left;
    display: block;
    margin-left: 30px;
    margin-top: 92px;
    border-style: solid;
    border-color: #FAFBF6;
    font-family: 'trashim_clmbold','Architects Daughter', cursive,Arial;
    border-width: 1px;
    height: 460px;
    width: 250px;
}

#indexAside h3 {
    direction: rtl;
    font-size: 20px;
    width: 145px;
    height: 50px;
    font-family: 'trashim_clmbold','Architects Daughter', cursive,'arial';
    color: #FAFBF6;
    margin-top: -25px;
    margin-right: 10px;
}

#indexAside h4 {
    direction: rtl;
    float: right;
    width: 100px;
    margin-top: -40px;
    font-family: 'trashim_clmbold','Architects Daughter', cursive,'arial';
    color: #FAFBF6;
    margin-right: 60px;
}

#asideDescription {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    color: #FAFBF6;
    margin-bottom: 25px;
}


/*add Place*/
.placeForm{
	width:1000px;
	float:right;
	line-height: 40px;
	color:#ffec64;
	font-family: 'trashim_clmbold','Architects Daughter', cursive,'Arial';
	display:block;
	margin-top:25px;
	margin-right: 30px;
}

#fileDisplayArea img {
    border-radius: 5px;
    border: 5px solid white;
    margin-top: 30px;
    margin-right: 100px;
    width: 165px;
}

.placeForm select {
    background: #FFFFFF;
    color: #000000;
    margin-top: -4px;
    border-radius: 5px;
}

.placeForm input{
	padding: 5px;
	background: #FFFFFF; 
	border-radius: 5px; 
	margin-right:100px;
	color:#000000;
	font-family:'trashim_clmbold','arial';
}

#tags{
	margin-top: 100px;
}

.tagsClass{
    float: right;
    height: 12px;
    width: 120px;
    margin: 15px;
    text-align: center;
}

.tagsClass a{
	display:inline;
}

.placeForm input,
.placeForm select,
.placeForm textarea,
input.addBtn{
	width: 175px;
    box-sizing: border-box;
    margin-right:0;font-family:'trashim_clmbold','arial';
    
}

.placeForm textarea{
	height:100px;
	padding: 5px;
	margin-top:5px;
	background: #FFFFFF; 
	border-radius: 5px; 
}

.placeForm > form > div > div {
	margin-top:30px;
}

.leftSideForm > div:first-child {
height: 108px;
}

.rightSideForm{
	float:right;
	width:400px;
}

.leftSideForm{
	float:right;
	width:500px;
	position: relative;
}

.formFilter {
    display: block;
    float: right;
    margin-top: 10px;
    border-radius: 5px;
    height: 22px;
   }

.categoryP{
	float: right;
	width: 100px;
}

#autocomplete{
	font-family: 'trashim_clmbold','Architects Daughter', cursive,'arial';
}

.uploadPhoto{
	float:left;
	height:200px;
	width: 200px;
}


input.addBtn {
	float:right;
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:'trashim_clmbold','arial';
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.addBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}

.addBtn:active {
	position:relative;
	top:1px;
	
}


/* Place Page */

#placeLeft{
	float:left;
}

#placeTarget{
	color: #FFFFFF;
	float:right;
	width:700px;
}

#placePageName{
	display:inline-block;
	margin-right: 400px;
    margin-top:50px; 
}

#placePageType{
	display: inline-block;
}

#placePic {
    margin-right: 30px;
    margin-top: 30px;
    height: auto;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

#placePagePicAside {
    margin-right: 25px;
    height: auto;
    width: 200px;
    overflow: hidden;
}

.placeDetails{
	margin-top:125px;
}

#wantedPic{
	width: 100%;
}

.linkPlace{
	width: 190px;
	width: auto;
}

#pic{
	height: 240px;
	margin:10px, 0 0 30px;
}


#description{
    margin-right: 338px;
    margin-top: -256px;
    width: 200px;
    float: right;
}

.addresses{
    margin-right: 338px;
    margin-top: -100px;
    width: 200px;
    float: right;
}

#address{
	margin-right: 338px;
    margin-top: -80px;
    width: 200px;
    float: right;
}

#distance{
    margin-right: 562px;
    margin-top: -85px;
    float: right;
}

#add-image{
	float:right;
	margin-right:30px;
	margin-top:70px;
	font-family:'trashim_clmbold','Architects Daughter', cursive, Arial;
}

#fileDisplayArea2 img {
    border-radius: 5px;
    border: 5px solid #FFFFFF;
    margin-top: 10px;
    width: 165px;
}

.fileUpload {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'trashim_clmbold','Architects Daughter', cursive, Arial;
    font-weight: bold;
    padding: 5px 9px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2b665e;
    float: right;
    margin-right: 0px;
    margin-top: 120px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.myLabel {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'trashim_clmbold','Architects Daughter', cursive, Arial;
    font-weight: bold;
    padding: 6px 36px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
    float: right;
    margin-right: 0px;
    margin-top: 5px;
}

.myLabel:hover {
	background-color:#6c7c7c;
}

.myLabel:active {
	position:relative;
	top:1px;
}

.tagsLocation{
	float:right;
	margin-right:200px;	
	width:700px;
}

#tags span{
	padding-right: 13px;
}

#commentArea{
	color: #FFFFFF;
	float:right;
	width:100%;
	display:block;
	margin-top:200px;
}

#commentInput{
	top:300px;
}


.checkInBTN {
	float: left;
    margin: 45px 0 0 68px;
	font-family: 'trashim_clmbold','Architects Daughter', cursive, Arial;
	font-weight:800;
	background-color: #DB9A02;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	border-radius:6px;
	border:1px solid #DB9A02;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}


.checkInBTN:hover {
	background:linear-gradient(to bottom, #C48A01 5%, #C48A01 100%);
	background-color:#C48A01;

}

.checkInBTN:active {
	position:relative;
	top:1px;
}
.checkInBTN.pressed{
	background-color: #7FC44A;
    border: none;
}

/* Stars Rank */
#rating {
    float:left;
    border:none;
    margin: 10px 0 0 40px;
}

#rating legend{
	color:#DB9A02;
    font-size: 20px;
    font-family: 'trashim_clmbold','Architects Daughter', cursive, Arial;
    margin-right: 10px;
}

#rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

#rating:not(:checked) > label {
    float:right;
    width:1em;
    padding-top:4px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

#rating:not(:checked) > label:before {
    content: '★ ';
}

#rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

#rating:not(:checked) > label:hover,
#rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

#rating > input:checked + label:hover,
#rating > input:checked + label:hover ~ label,
#rating > input:checked ~ label:hover,
#rating > input:checked ~ label:hover ~ label,
#rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

#rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

#currentRating {
    float: right;
    margin-right:60px;
    font-weight: bold;
    color: #DB9A02;
    font-size: 19px;
    font-family: 'trashim_clmbold', 'Architects Daughter', cursive, Arial;
    width: 78px;
    white-space: nowrap;
    margin-top: 40px;
}

#allrating {
    float: right;
    width: 70px;
    margin: 36px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 19px;
    font-family: 'Architects Daughter', cursive, Arial;
}

label[for="star5"]{
	margin-right:20px;
	
}
.fb-like{
	float:left;
	margin: 70px 0 0 68px;
}

.faceStyle{
	float:right;
	width: 600px;
	margin-right:200px;
    margin-top: 50px;
}

.clear{
 	clear:both;
}

.fil{
    float: right;
    size: 30px;
    padding: 5px;
    margin: 10px;
    font-family: 'trashim_clmbold', 'Architects Daughter', cursive, Arial;
}

#chooseTag{
     float: right;
    display: block;
    padding: 5px;
    margin-top: 40px;
    font-weight: bold;
    font-family: 'trashim_clmbold','Architects Daughter', cursive, Arial;
    font-size: 20px;
    margin-right: 15px;
}


/*MyPage*/
 #myPage{
 	margin-top:200px;
 }
   
#myPageTarget > div > h1 {
    color: #FFFFFF;
    margin-top: 30px;
    margin-right: 30px;
}

#myPageTarget > div > img {
	float:right;
    margin-top: 30px;
    margin-right: 30px;
    height: 130px;
  }

.myName{
	text-align: center;
}

.myScoreH {
    float: right;
    display: block;
    width: 15%;
    margin-top: 50px;
    margin-right: 30px;
    color: #FFFFFF;
}
  
   #myscore {
    float: right;
    margin-right: 10px;
    margin-top: 50px;
    width:60%;
 }
 
 #myStatus{
 	float: right;
    margin-right: 10px;
    margin-top: 50px;
    width:60%;
 }
 
 #myPage h3 {
  	color: #DB9A02;
    margin-top: 30px;
    margin-right: 30px;
 }
 
 #checkins{
 	float:right;
 	margin-bottom:50px;
 	width: 100%;
 }

 #checkins > div{
 	float:right;
 	width:100%;
 }
 
   #checkins > div > div{
  	width:15%;
  	float:right;
  	margin-top: 30px;
  }
 
 #checkins > div > div:first-child{
 	margin-right:5%;
 	width:15%
 }
 
   #checkins > div > div:nth-child(2){
  	width:65%;
  }
  
  #checkins > div > div:nth-child(2) > div:nth-child(1){
  	width:47%;
  	float: right;
  }
  
   #checkins > div > div:nth-child(2) > div:nth-child(2){
  	width:38%;
  	float: right;
  }
 
   #checkins > div > div:nth-child(2) > div:nth-child(4){
  	width:100%;
  	float: right;
  	margin-top: 15px;
  }
  
  #checkins img{
  	float: right;
  	width:90%;
  }
  
  #checkins span{
  	margin:1%;
  }
 
 #myPlaces{
 	float: right;
 	display: block;
 	margin-top:50px;
 	width:100%;
 	margin-top:30px;
 }
 
  #lastPlaces{
 	float:right;
 	margin-bottom:50px;
 	width: 100%;
 }

 #lastPlaces > div{
 	float:right;
 	width:100%;
 }
 
   #lastPlaces > div > div{
  	width:15%;
  	float:right;
  	margin-top: 30px;
  	color: #FFFFFF;
  }
 
 #lastPlaces > div > div:first-child{
 	margin-right:5%;
 	width:15%;
 }
 
   #lastPlaces > div > div:nth-child(2){
  	width:65%;
  }
  
  #lastPlaces > div > div:nth-child(2) > div:nth-child(1){
  	width:47%;
  	float: right;
  }
  
   #lastPlaces > div > div:nth-child(2) > div:nth-child(2){
  	width:38%;
  	float: right;
  }
 
   #lastPlaces > div > div:nth-child(2) > div:nth-child(4){
  	width:100%;
  	float: right;
  	margin-top: 15px;
  }
  
  #lastPlaces img{
  	float: right;
  	width:90%;
  }
  
  #lastPlaces span{
  	margin:1%;
  }
 
 /* scoreBoard */

.Top5{
	text-align: center;
	margin-top: 60px;
	color: #FFFFFF;
}

.userClass{
	float: right;
	width: 14%;
	margin-right: 5%;
	margin-top: 60px;
}

.userClass img{
	height: 100px;
}

.orange{
	color: #DB9A02;
    margin-top: 85px;
    margin-right: 49px;
}

.link {
  background: #2e2e29;
  background-image: -moz-linear-gradient(top, #2e2e29, #69624f);
  background-image: -ms-linear-gradient(top, #2e2e29, #69624f);
  background-image: -o-linear-gradient(top, #2e2e29, #69624f);
  background-image: linear-gradient(to bottom, #2e2e29, #69624f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;d
  border-radius: 28px;
  font-family: 'Architects Daughter', cursive,Arial;
  color: #f7ec18;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-right:20px;
  float:right;
}

.stats {
    float: right;
    color: #FFFFFF;
    margin-top: 35px;
    font-size: 27px;
    clear: both;
}

.status1, 
.status2,
.status3,
.status4{
    float: right;
    padding-left: 40px;
}   

.status2 {
    color: #FF235A;
}

.status3 {
    color:#4CFF67; 
}

.status4 {
    color: #C425FF;
}

.link:hover {
  background: #a8a8a8;
  background-image: -moz-linear-gradient(top, #a8a8a8, #9c9c9c);
  background-image: -ms-linear-gradient(top, #a8a8a8, #9c9c9c);
  background-image: -o-linear-gradient(top, #a8a8a8, #9c9c9c);
  background-image: linear-gradient(to bottom, #a8a8a8, #9c9c9c);
  text-decoration: none;
}

.linksToAddPoints{
    float: right;
    margin-top: 20px;
    margin-right:5%;
    width:95%;
    color:#FFFFFFF;
}

.line{
	width:100%;
	height:60px;
}

.links{
	height:15px;
	float:right;
	margin:15px;
}

/*lightBoxes*/

div.ui-dialog-buttonset {
	float: left !important; 
}

.ui-dialog-content{
	direction: rtl;
}


/*other css file*/

._5mdd{
	color:white;
}
.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}
.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}
.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important; 
}
.fb-comments, .fb-comments iframe[style] {width: 100% !important;}

.aboutus{
	margin-top: 20px;
	font-size: 18px;
    float: left;
    padding-right: 52px;
    padding-left: 50px;	
    line-height: 140%;  
    color: #FFFFFF;
}

.kissImage{
    margin-top: 29px;
    float: left;
    margin-left: 164px;
}
.connectIndex{
	margin: auto;
    width: 22%;
    margin-top: 335px;
}
.connectIndexImage{
	float:right;
	margin-bottom: 20px;
}

h2{
	direction: rtl;
    font-size: 25px;
    float: right;
    margin-top: 19px;
    margin-right: 13px;
}

#fbfriends{
	margin-left: 30px;
}

.userName{
	color: #FFFFFF;
}

._56q9{
	background-color:#000000;
}


.waze{
	width:40px;
	display:none;
}

.waze2 {
	width:40px;
	margin-right:30px;
	/*display:none;*/
}

.waze3 {
	width:40px;
	/*display:none;*/
}

.waze4 {
	width:40px;
	/*display:none;*/
}

/* end of desktop*/

@media only screen and (max-width:600px){
	
	body{
		width:100%;
	}
	
	#wrapper{
	 direction: rtl;
	 margin: 0px auto;
	 width:100%;
	 height: 100%;
	}
	
	main{
		width: 100%;
		height: 100%;
	}
	
	header{
	 width:100%;
	}
	
	#target {
	    width: 70%;
	    margin-right: 10%;
	}
	
	.pageName{
		padding-right: 10%;
		padding-top:20%;
	}
	
	#target > div {
		width: 100%;
		height: auto;
		
	}
	
	#target > div:nth-child(3),
	#target > div:nth-child(4),
	#target > div:nth-child(5) {
		width: 100%;
		height: auto;
	}
	
	#indexAside {
		float:right;
		border-style: none;
	    width: 100%;
		margin-right: 17.5%;
	}

	.waze{
		width:40px;
	}
	
	#asideDescription{
		text-align: center;
		width: 70%;
	}
	
	#filterTarget{
		width: 90%;
	}
	
	.filterBox{
		width: 90%;
		
	}

	#indexAside{
		width: 90%;
	}
	
	#rating {
	    float: right;
	    margin-right: 10%;
	    width: 100%;
	}
	
	.place img{
		width: 100%;
	}

	.crop {
		width:100%;
	}
	
	.crop img.waze{
		width: 40px;
	}
	
	/*addPlace Mobile*/
	
	.placeForm{
		margin-right:10%;
	}
	
	#fileDisplayArea img {
	    width: 33%;
	    margin-right: 20%;
	}
	
	.rightSideForm{
		width: 100%;
	}
	
	.placeForm > form > div > div {
		margin-top:30px;
	}
	
	/*ScoreBoard*/
		
	#scores{
		width: 100%;
	}

	.userClass{
		width: 100%;
		text-align:center;
	}

	.linksToAddPoints{
		width: 100%;
		margin-right: 10%;
	}
	
	.stats{
		width:80%;
		margin-right: 15%;
	}
	
	.stats > p{
		width: 100%;
		margin-bottom: 2%;
	}

	 #myPage{
 	margin-top:200px;
 }
  /* My Page*/
  
	#myPageTarget > div > h1 {
	    color: #FFFFFF;
	    margin-top: 30px;
	    margin-right: 30px;
	}
	
	.myName{
		text-align: center;
	}
	
	.myScoreH {
		width: 25%;
		font-size:15px;
	}
	  
    #myscore {
	 	width:10%;
	 }
	 
	 #myStatus{
 		width: 20%;
		font-size:15px;
	 }
	 
	 #myStatus {
		width:10%;
	 }
	 
	 #checkins{
	 	width: 100%;
	 }
	
	 #checkins > div{
	 	width:100%;
	 }
	 
	#checkins > div > div{
	  	width:15%;
	  	float:right;
	  }
	 
	 #checkins > div > div:first-child{
	 	width:50%;
	 	margin-right: 25%
	 }
	 
	#checkins > div > div:nth-child(2){
	  	width:95%;
	  	margin-right:5%
	}
	
		#checkins > div > div:nth-child(2) > div:nth-child(1){
	  	width:30%;
	 }
	  
	  #checkins > div > div:nth-child(2) > div:nth-child(2){
	  	width:30%;
	  }
	 
	  #checkins > div > div:nth-child(2) > div:nth-child(4){
	  	width:100%;
	  	text-align: center;
	  	margin-bottom: 5%;
	  }
	  	
	  	.waze3{
	  		float: left;
	  		margin-top: -5px;
	  	}
	  
	  #checkins img{
	  	width: 100%;
	  }
	  
	  #checkins span{
	  	margin:1%;
	  }
	 
	 #myPlaces{
	 	width:100%;
	 }
	 
	  #lastPlaces{
	 	width: 100%;
	 }
	
	 #lastPlaces > div{
	 	float:right;
	 	width:100%;
	 }
	 
	  #lastPlaces > div > div{
	  	width:15%;
	  	float:right;
	  	margin-top: 30px;
	  	color: #FFFFFF;
	  }
	 
	 #lastPlaces > div > div:first-child{
	 	margin-right: 25%;
	 	width: 50%;
	 }
	 
	  #lastPlaces > div > div:nth-child(2){
	  	width:95%;
	  	margin-right:5%
	}
	
	#lastPlaces > div > div:nth-child(2) > div:nth-child(1){
	  	width:30%;
	 }
	  
	  #lastPlaces > div > div:nth-child(2) > div:nth-child(2){
	  	width:30%;
	  }
	 
	  #lastPlaces > div > div:nth-child(2) > div:nth-child(4){
	  	width:100%;
	  	text-align: center;
	  	margin-bottom: 5%;
	  }
	  
	  #lastPlaces img{
	  	width:100%;
	  }
	  
	  #lastPlaces span{
	  	margin:1%;
	  }
	  
	  /* about us */
	 .kissImage{
	 	width: 50%;
	 	margin-left: 25%;
	 }
	 
	 
	/* Place Page */	

 
}
